
- name: start the service
  service:
    name: "{{ item }}"
    state: started
    enabled: yes
  become: yes
  with_items:
    - nvserver
    - nvproxyserver
    - istpserver
    - dhcpd
    - mitmdump_selenium

- name: Pause for 10 seconds to get service up
  pause:
    seconds: 10

- name: set health check port
  set_fact:
    health_check_port: "{{ proxy_port|int - 1}}"

- name: wait for service to start
  health_check:
    url: "http://localhost:{{ health_check_port | default(server_port) }}{{ health_check_uri | default('/manage/info') }}"
    expected_status: "{{ health_check_status | default('200') }}"
    max_retries: "{{ health_check_max_retries | default('20') }}"

- name: check mitm service status
  uri:
    url: "http://localhost:{{ health_check_port | default(server_port) }}{{ mitm_health_uri | default('/manage/mitm-status') }}"
    return_content: yes
  register: mitm_response

#- name: print mitm service status
#  debug:
#    msg: "mitm proxy status: {{ mitm_response.json.status }}"
    
- name: fail if mitm service is down
  fail:
    msg: "Error: mitm proxy status is {{ mitm_response.json.status }}"
  when: mitm_response.json.status != 'UP'

- name: get installed version
  uri:
    url: "http://localhost:{{ health_check_port | default(server_port) }}{{ health_check_uri | default('/manage/info') }}"
    return_content: yes
  register: api_response

- name: print installed version
  debug:
    msg: " Installed version: {{ api_response.json.build.version }}"

- name: fail if app_version is not equal to installed version
  fail:
    msg: "app_version: {{ app_version }} does not macthed to installed version {{ api_response.json.build.version }}"
  when: app_version != api_response.json.build.version
