shouldReboot$Boolean=true
istpServerPort$Long={{ tunneling_port }}
wifiInterface={{ wifi_eth }}
sys.installationDir={{ installation_folder }}
serverPort$Long={{ server_port }}
proxyServerPort$Long={{ proxy_port }}
uplinkInterface={{ uplink_eth }}
