shouldReboot$Boolean=true
istpServerPort$Long={{ tunneling_port }}
wifiInterface={{ wifi_eth }}
sys.installationDir={{ installation_folder }}
serverPort$Long={{ server_port }}
proxyServerPort$Long={{ proxy_port }}
uplinkInterface={{ uplink_eth }}
mitmdumpPort$Long={{ mitm_port }}
useClientCertificate$Boolean={{ mitm_use_certificate | lower }}
